
section{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url('../../../../../assets/images/home/join.jpeg'), lightgray 0px -114.859px / 100% 190.473% no-repeat;
    background-size:  cover;
    background-position: center;
}