<section class="my-16 md:my-32 rounded-3xl h-[524px] w-full overflow-hidden box-border relative">
    <div
        class="flex items-center justify-center flex-col max-w-[80%] sm:max-w-[500px] mx-auto text-center h-full gap-5">
        <p class="text-2xl text-secondary">انضم إلينا</p>
        <h3 class="text-white text-3xl">{{joinData?.title}}</h3>
        <span class="text-white text-base">{{joinData?.sub_title}}</span>
        <div class="rounded-xl  w-full p-5 text-lg text-white bg-secondary">
            {{"join.join_button" | translate}}
        </div>
    </div>
</section>