button {
    border-radius: 8px;
    border: 2px solid #2A3135;
    box-shadow: 4px 4px 0px 0px #2A3135;
    display: flex;
    padding: 12px 17px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}