<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <app-general-input type="text" formControlName="email" [label]="'auth.email' | translate"
    placeholder="email@domain.com" icon="assets/images/auth/icons/user.svg" [errors]="getControlErrors('email')"
    [isSubmitted]="isSubmitted"></app-general-input>

  <app-general-input type="password" formControlName="password" [label]="'auth.password' | translate"
    [placeholder]="'auth.write_here' | translate" icon="assets/images/auth/icons/lock.svg"
    [errors]="getControlErrors('password')" [isSubmitted]="isSubmitted"></app-general-input>

  <section class="remember-me">
    <mat-checkbox class="remember-me__checkbox" color="primary">{{'auth.remember_me' | translate}}</mat-checkbox>
    <a class="remember-me__forgot-password" routerLink="/auth/forgot-password">{{'auth.forgot_password_question' |
      translate}}</a>
  </section>
  <app-auth-button class="mx-auto mt-4" type="submit" [title]="'auth.sign_in' | translate"> </app-auth-button>

  <div class="dont-have-account">
    <p>{{'auth.dont_have_account' | translate}}</p>

    <app-auth-button routerLink="/auth/signup" class="mx-auto create-account-btn" type="submit"
      [title]="'auth.create_new_account' | translate"> </app-auth-button>

  </div>
</form>