<form class="new-password-form" [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
  <div class="new-password-form__container">


    <div class="my-6 md:my-10">
      <app-general-input type="password" formControlName="new_password" [label]="'auth.password' | translate"
        [placeholder]="'auth.write_here' | translate" icon="assets/images/auth/icons/lock.svg"
        [errors]="getControlErrors('new_password')" [isSubmitted]="isSubmitted"></app-general-input>

      <app-general-input type="password" formControlName="confirm_new_password" [label]="'auth.password' | translate"
        [placeholder]="'auth.write_here' | translate" icon="assets/images/auth/icons/lock.svg"
        [errors]="getControlErrors('confirm_new_password')" [isSubmitted]="isSubmitted"></app-general-input>
    </div>


    <app-auth-button class="mx-auto" type="submit" [title]="'auth.sign_in' | translate"> </app-auth-button>
  </div>
</form>