@import '../../../../../../assets/scss/variables';

.new-password-form {
  height: 100%;
  &__container {
    height: 100%;
    @media (max-width: 992px) {
      height: calc(100% - 24px);
    }
  }
}

.validations {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 50%;
    color: grey;
    margin-bottom: 6px;

    @media (max-width: 600px) {
      width: 100%;
    }

    &.green {
      color: #1ec756;
    }

    p {
      margin: 0;
    }
  }
}

::ng-deep {
  app-general-input {
    .input-container__label {
      color: $nav-black !important;
      font-family: Almarai !important;
      font-size: 12px !important;
      font-weight: 400 !important;
    }
  }
}