<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <div class="mt-6 md:mt-10">
    <app-general-input type="text" formControlName="email" [label]="'auth.email' | translate"
      placeholder="email@domain.com" icon="assets/images/auth/icons/user.svg" [errors]="getControlErrors('email')"
      [isSubmitted]="isSubmitted"></app-general-input>

    <app-auth-button routerLink="/auth/signup" class="mx-auto" type="submit"
      [title]="'auth.forgot.send_otp' | translate"> </app-auth-button>
  </div>

</form>