<section class="percentage container mx-auto p-4">
    <div class="text-center mb-4">
        <h3 class="text-5xl mb-4">{{'free_courses.title' | translate}}</h3>
        <p>{{'free_courses.sub_title' | translate}}</p>
    </div>
    <div class="w-full flex justify-center">
        <mat-tab-group  (selectedTabChange)="getCoursesById($event)">
            <mat-tab *ngFor="let category of categories" [label]="category.name">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                    <app-course-card  *ngFor="let course of courses" [course]="course"></app-course-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>