// .filter{
//     height: 1rem;
// }

@import "../../../../../assets/scss/variables";


mat-form-field {
  width: 100%;
}
.grey-color{

  color: red;
}
::ng-deep {
  .mat-mdc-text-field-wrapper {
    display: inline-flex;
    height: 41px !important;
    padding: 13px 14px 14px 25px;
    border-radius: 6px;
    border: #2d2c79;
    align-items: center !important;
  }
  .mat-mdc-form-field-infix {
    padding: 0 !important;
  }
  .mat-mdc-form-field-infix {
    min-height: unset !important;
  }
  
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
