@import "../../../../assets/scss/variables";

.errors {
  width: 100%;
  color: #ff4c24;
  font-size: 12px;
  font-weight: 500;
  box-sizing: border-box;
  height: 28px;
  &__error {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 28px;
    &__text {
      margin: 0;
    }
  }
}

.error {
  display: none;
}

.error:first-of-type {
  display: flex;
}
