@import "../../../../assets/scss/variables";

.breadcrumb {
  margin-bottom: 42px;
}

::ng-deep {
  .xng-breadcrumb-link {
    color: $primary-color;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
  }
  .xng-breadcrumb-trail {
    color: #b0b1b0 !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
  }
}